#content_main{
	clear:both;
}
.con-eng, .con-chin{
	float:left;
	width:50%;
}
.con-eng{
	width:47%;
}
.con-chin{
	float:right;
	width:49%;
	padding-left:95px;
	border-left:2px solid #ccc;
}
.modal-footer{
	clear:both;
}
.img_x{
	margin:10px;
	margin-right:0;
	width:40%;
	height:auto;
	float:right;
}
.img_x img{
	width:100%;
	height:auto;
}

img{
    width:80%;
    height:80%;
}
